# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore NWP installation directories created by install.sh
# These are recipe-based site installations (e.g., os, os1, d, m, nwp, etc.)
/os
/os[0-9]*
/d
/d[0-9]*
/m
/m[0-9]*
/nwp
/nwp[0-9]*
/dm
/dm[0-9]*
/commons_template
/commons_template[0-9]*

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
